@model bianca.Models.NotaDeVenda

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>NotaDeVenda</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tipo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tipo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cliente_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cliente_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Vendedor_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Vendedor_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Transportadora_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Transportadora_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pagamento_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pagamento_Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
