@model IEnumerable<bianca.Models.PagamentoComCheque>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Banco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoBanco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeDoCobrado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InformacoesAdicionais)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaDeVenda_Id)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Banco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoBanco)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomeDoCobrado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InformacoesAdicionais)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaDeVenda_Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
